body {
    background-image: url("/static/image/bg/2.jpg");
}

.maxim {
    font-size: 30px;
    background-color: #dee7ec;
    margin-top: 100px;
    border-radius: 10px 10px 10px 10px;
    padding: 15px;
}

.login-input {
    margin-top: 50px;
    border: 10px solid white;
}

ul.page-menu li {
    width: 60px;
    height: 60px;
}

.child-menu {
    padding-left: 30px;
}