<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhw.blog.dao.WebsiteDao">
    <sql id="BASE_TABLE">
    t_website
    </sql>

    <sql id="BASE_COLUMN">
    websiteId,websiteName,websiteUrl,sortNo,labelId
    </sql>

    <insert id="insert" parameterType="com.zhw.blog.model.Website">
        INSERT INTO
        <include refid="BASE_TABLE"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            websiteName,websiteUrl,
            <if test="sortNo != null">
                sortNo,
            </if>
            <if test="labelId != null">
                labelId,
            </if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            #{websiteName, jdbcType=VARCHAR},#{websiteUrl, jdbcType=VARCHAR},
            <if test="sortNo != null">
                #{sortNo, jdbcType=INTEGER},
            </if>
            <if test="labelId != null">
                #{labelId, jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="selectWebsites" resultType="com.zhw.blog.model.Website">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
    </select>

    <select id="getByWebsiteId" parameterType="String" resultType="com.zhw.blog.model.Website">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
        where websiteId = #{websiteId}
    </select>
    <!-- 修改 -->
    <update id="update" parameterType="Website">
        update
        <include refid="BASE_TABLE"/>
        <set>
            <if test="websiteName!=null">
                websiteName=#{websiteName},
            </if>
            <if test="websiteUrl!=null">
                websiteUrl=#{websiteUrl},
            </if>
            <if test="labelId!=null">
                labelId=#{labelId},
            </if>
        </set>
        where websiteId=#{websiteId}
    </update>
</mapper>